In [23]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [19]:
df=pd.read_csv('Social_Network_Ads.csv')

In [20]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [21]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [22]:
x=df.iloc[:,[2,3]]
y=df.iloc[:,-1]

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=1)

In [31]:
le=LabelEncoder()
df['Gender']= le.fit_transform(df['Gender'])

In [33]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [36]:
regression=LogisticRegression()

In [37]:
regression.fit(x_train,y_train)

LogisticRegression()

In [38]:
y_pred=regression.predict(x_test)

In [39]:
print("MSE",metrics.mean_squared_error(y_test,y_pred))

MSE 0.16

In [41]:
regression.score(x_test,y_test)

0.84

In [43]:
cm=metrics.confusion_matrix(y_test,y_pred)

TP=cm[0][0]
TN=cm[0][1]
FP=cm[1][0]
FN=cm[1][1]

print(TP)
print(TN)
print(FP)
print(FN)

accuracy=TP+TN/(TP+TN+FP+FN)
error=FP+FN/(TP+TN+FP+FN)
precision=TP/(TP+TN)
recall=TP+(TP+FN)

print(accuracy)
print(error)
print(precision)
print(recall)

52
6
10
32
52.06
10.32
0.896551724137931
136